@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.code-block {
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}
.code-block .key {
  color: green;
}
.copy-button {
  background-color: #f1f5f9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
}
.copy-button:hover {
  background-color: #d1d5db;
}
